.icon-flex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 10px;
}

.icon-item {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.3s;

  &:hover {
    border-color: #007BFF;
    background-color: #e6f7ff;
  }

  &.selected {
    border-color: #28a745;
    background-color: #d4edda;
  }
}
